.container {
  max-width: 720px;
  margin: 0 auto;

  button {
    color: var(--highlight);
    font-weight: 600;
    font-size: 1.125rem;
    background: transparent;
    border: none;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
}

.posts {
  max-width: 720px;

  a {
    display: block;

    & + a {
      margin-top: 3rem;
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
      color: var(--heading);
    }

    p {
      margin-top: 0.5rem;
      line-height: 1.625rem;
      font-size: 1.125rem;
    }

    .info {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      div {
        display: flex;
        align-items: center;
      }

      time {
        font-size: 0.875rem;
        color: var(--info);
        margin-right: 1.5rem;
      }

      svg {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.5rem;
      }

      span {
        font-size: 0.875rem;
        color: var(--info);
      }
    }

    &:hover strong {
      color: var(--yellow-500)
    }
  }
}
